cellrank==2.0.4
Jinja2==3.1.6
joblib==1.3.2
matplotlib
networkx>=3.1
numpy==1.26.3
pygam>=0.9.0
numba==0.58.1
llvmlite==0.41.1
POT==0.9.3
scanpy==1.9.3
scikit-learn==1.1.3
scipy==1.11.4
scvelo>=0.3.0
seaborn
torchdiffeq==0.2.4
tqdm
plotly
setuptools
statsmodels
sphinx>=1.4
ipykernel
nbsphinx
